<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Barra de progreso
        </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" 
            role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"
            [attr.ariaValuenow]="progreso1"
            [style.width]="progreso1 + '%'">
          </div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
            role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%"
            [attr.ariaValuenow]="progreso2"
            [style.width]="progreso2 + '%'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador 
          leyenda="progress Azul"
          [progreso]="progreso1"
          (cambioValor)="progreso1 = $event">
        </app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador leyenda="progress Verde" [progreso]="progreso2"
        (cambioValor)="progreso2 = $event">
        </app-incrementador>
      </div>
    </div>
  </div>
</div>
