<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarMedico(input.value)" type="text" class="form-control"
          placeholder="Buscar medico ...">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button type="button" [routerLink]="['/medico', 'nuevo']" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear Medico
          </button>
        </div>
        <h3 class="card-title">
          Medicos Registrados (<small>{{ _medicoService.totalMedicos }}</small>)
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Médico</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
              <td>
                <img [src]="medico.img | imagen: 'medico'" alt="" class="img-50 img-circle pointer">
              </td>
              <td>
                {{ medico.nombre }}
              </td>
              <td>
                {{ medico.hospital.nombre }}
              </td>
              <td>
                <button [routerLink]="['/medico', medico._id]" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarMedico(medico)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
