<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>
        <form class="form p-t-20" ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)">
          <div class="form-group">
            <label for="exampleInputuname">Nombre de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Username" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Enter email" required>
            </div>
          </div>

          <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">nombre usuario</h6>
        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
        <input type="file" (change)="seleccionImage($event)">
        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>Actualizar foto</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
