<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarHospital(input.value)" type="text" class="form-control" placeholder="Buscar hospital ...">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button type="button"
            (click)="crearHospital()" 
            class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear Hospital
          </button>
        </div>
        <h3 class="card-title">
          Hospitales registrados (<small>{{ _hospitalService.totalHospitales }}</small>)
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td>
                <img (click)="actualizarImagen(hospital)" [src]="hospital.img | imagen: 'hospital'" alt="" class="img-50 img-circle pointer">
              </td>
              <td>
                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del hospital">
              </td>
              <td>
                  <button (click)="guardarHospital(hospital)" class="btn btn-primary">
                      <i class="fa fa-save"></i>
                    </button>
                    <button class="btn btn-danger" (click)="borrarHospital(hospital)">
                      <i class="fa fa-trash"></i>
                    </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>