<h3>{{ leyenda }}</h3>
<div class="input-group">
  <div class="input-group-prepend" id="button-addon3">
    <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </div>
  <input type="number" min="1" max="100"
    #txtProgress
    class="form-control" 
    aria-label="Recipient's username with two button addons"
    aria-describedby="button-addon4" name="progreso"
    (ngModelChange)="onChanges($event)" 
    [(ngModel)]="progreso">
  <div class="input-group-append" id="button-addon4">
    <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
