/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.img-50 {
    width: 50px;
}

.w70 {
    width: 70px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
